html {
    font-family: square721 ;
}

footer {
    background-color: #9fff05;
    color: #333333;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 60px;
    
}


.cnpj {
    font-size: 0,5em;
}

.caixa {
    padding: 80px 0px;
    border-bottom: 1px solid #f4faff;
}

#home {
    background: #583563;
    color: #f4faff;
}



::-webkit-scrollbar {
    display: none;
}

a {
    font-weight: bold;
    
}

@font-face {
    font-family: "Square721";
    src: url( Square721 Cn BT Roman.ttf);
    

}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

