body {
    
font-family: Verdana, Geneva, Tahoma, sans-serif;

background-color: white;
    
scrollbar-width: none;
    
}


a {
    text-decoration: none;
    color: dimgrey;

}

a:hover {
    color: fuchsia;
}

a:active {
    color: dimgray;
}

footer {
    background-color: dimgray;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
