




footer {
    background-color: #9DC31A;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 60px;
}

#menu-principal {
    background-color: #9DC31A;
    color: ffffff;
    padding: 60px;
    font-weight: bold;
    font-size: small;
    
    
    

}



::-webkit-scrollbar {
    display: none;
}



.conteudo-d-div {
   padding: 30px;
   margin: auto;
}

